{
  "presets": [
    [
      "env",
      {
        "targets": [
          "ie >= 9"
        ],
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [
        "transform-runtime",
        "syntax-async-functions",
        "transform-regenerator",
        "istanbul"
      ]
    }
  }
}
